/* Flexbox Commands */

.flex{
    display:flex;
}

.jcc{
    justify-content: center;
}

.jcse{
    justify-content: space-evenly;
}

.jcsb{
    justify-content: space-between;
}

.jcsa{
    justify-content: space-around;
}

.jcfs{
    justify-content: flex-start;
}

.jcfe{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}

.columnreverse{
    flex-direction: column-reverse;
}

.row{
    flex-direction: row;
}

.rowreverse{
    flex-direction: row-reverse;
}

.aic{
    align-items: center;
}

.aifs{
    align-items: flex-start;
}

.aife{
    align-items: flex-end;
}

.aistrech{
    align-items: stretch;
}

.wrap{
    flex-wrap: wrap;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrapreverse{
    flex-wrap: wrap-reverse;
}

/* Width Adjustments */

.w100{
    width: 100%;
}

.w95{
    width:95%;
}

.w90{
    width: 90%;
}

.w80{
    width: 80%;
}

.w75{
    width: 75%;
}

.w70{
    width: 70%;
}

.w66{
    width: 66%;
}

.w60{
    width: 60%;
}

.w55{
    width: 55%;
}

.w50{
    width: 50%;
}

.w48{
    width: 48%;
}

.w45{
    width: 45%;
}

.w40{
    width: 40%;
}

.w33{
    width: 33%;
}

.w30{
    width: 30%;
}

.w25{
    width: 25%;
}

.w21{
    width: 21%;
}

.w20{
    width: 20%;
}

.w15{
    width: 15%;
}

.w10{
    width: 10%;
}

.w5{
    width: 5%;
}

.centered{
    width: 1200px;
}

.h100{
    height: 100%;
}

/* Misc. Commands */

.aligned{
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

table{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

th, td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.2em;
}



/* Mobile Version */


@media (max-width:600px){
.m-flex{
    display: flex;
}   

.m-jcc{
    justify-content: center;
}

.m-jcse{
    justify-content: space-evenly;
}

.m-jcsb{
    justify-content: space-between;
}

.m-jcsa{
    justify-content: space-around;
}

.m-jcfs{
    justify-content: flex-start;
}

.m-jcfe{
    justify-content: flex-end;
}

.m-column{
    flex-direction: column;
}

.m-columnreverse{
    flex-direction: column-reverse;
}

.m-row{
    flex-direction: row;
}

.m-rowreverse{
    flex-direction: row-reverse;
}

.m-aic{
    align-items: center;
}

.m-aifs{
    align-items: flex-start;
}

.m-aife{
    align-items: flex-end;
}

.m-aistrech{
    align-items: stretch;
}

.m-wrap{
    flex-wrap: wrap;
}

.m-nowrap{
    flex-wrap: nowrap;
}

.m-wrapreverse{
    flex-wrap: wrap-reverse;
}

.m-centered{
    width: 96%;
}

.m100{
    width: 100%;
}

.m75{
    width: 75%;
}

.m50{
    width: 50%
}

.m40{
    width: 40%;
}

.m25{
    width: 25%;
}

.m20{
    width: 20%;
}

.m10{
    width: 10%;
}

.m-none{
    display: none;
}

}


/* Tablet Version */


@media (min-width:601px) and (max-width:1200px){

.t-flex{
    display: flex;
}

.t-jcc{
    justify-content: center;
}

.t-jcse{
    justify-content: space-evenly;
}

.t-jcsb{
    justify-content: space-between;
}

.t-jcsa{
    justify-content: space-around;
}

.t-jcfs{
    justify-content: flex-start;
}

.t-jcfe{
    justify-content: flex-end;
}

.t-column{
    flex-direction: column;
}

.t-columnreverse{
    flex-direction: column-reverse;
}

.t-row{
    flex-direction: row;
}

.t-rowreverse{
    flex-direction: row-reverse;
}

.t-aic{
    align-items: center;
}

.t-aifs{
    align-items: flex-start;
}

.t-aife{
    align-items: flex-end;
}

.t-aistrech{
    align-items: stretch;
}

.t-wrap{
    flex-wrap: wrap;
}

.t-nowrap{
    flex-wrap: nowrap;
}

.t-wrapreverse{
    flex-wrap: wrap-reverse;
}

.t100{
    width: 100%;
}

.t75{
    width: 75%;
}

.t70{
    width: 70%;
}

.t50{
    width: 50%
}

.t40{
    width: 40%;
}

.t25{
    width: 25%;
}

.t20{
    width: 20%;
}

.t10{
    width: 10%;
}

.m-none{
    display: none;
}

}

/* Reset Options */

* {
    box-sizing: border-box;
}

html , body{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    color: inherit;
}

a:hover{
    cursor: pointer;
}

button{
    border: none;
}

button:hover{
    cursor: pointer;
}

b{
    margin-left: 5px;
}

header{
    background-color: #171717;
    color: greenyellow;
    padding-bottom: 10px;
}

h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-size: 20px;
    font-weight: 400;
}

p{
    font-style: italic;
    font-size: 20px;
}

b{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

body{
    background-color: #ebebeb;
    color: #171717;
    min-height: 100vh;
}

html{
    min-height: 100vh;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #171717;
    color: greenyellow;
    padding: 40px 0;
}

#destroy{
    background-color: red;
    color: #171717;
    padding: 10px 15px;
    border-radius: 56px;
    margin-top: 100px;
}